.DS_Store
test-success.mov
*.npz
*.pkl
/extracted-src/*
# *.keras
# *.csv
chapter-generator/.env
chapter-generator/.env
chapter-generator/.env
categorizer/.env
chapter-generator/chapter_generation.log
chapter-generator/chapter_result_missed.json
chapter-generator/label_model_mapping.json
chapter-generator/spec_chapter_1.json
chapter-generator/spec_chapter_76.json
chapter-generator/checkpoints/best_model_info.json
chapter-generator/checkpoints/best_model.keras
chapter-generator/checkpoints/model-epoch-01_info.json
chapter-generator/checkpoints/model-epoch-01.keras
chapter-generator/checkpoints/model-epoch-02_info.json
chapter-generator/checkpoints/model-epoch-02.keras
chapter-generator/checkpoints/model-epoch-03_info.json
chapter-generator/checkpoints/model-epoch-03.keras
chapter-generator/checkpoints/model-epoch-04_info.json
chapter-generator/checkpoints/model-epoch-04.keras
chapter-generator/checkpoints/model-epoch-05_info.json
chapter-generator/checkpoints/model-epoch-05.keras
chapter-generator/checkpoints/model-epoch-06_info.json
chapter-generator/checkpoints/model-epoch-06.keras
chapter-generator/checkpoints/model-epoch-07_info.json
chapter-generator/checkpoints/model-epoch-07.keras
chapter-generator/checkpoints/model-epoch-08.keras
chapter-generator/checkpoints/model-epoch-24_info.json
chapter-generator/checkpoints/model-epoch-24.keras
chapter-generator/checkpoints/model-epoch-25_info.json
chapter-generator/checkpoints/model-epoch-25.keras
chapter-generator/checkpoints/model-epoch-26_info.json
chapter-generator/checkpoints/model-epoch-26.keras
chapter-generator/checkpoints/model-epoch-27_info.json
chapter-generator/checkpoints/model-epoch-27.keras
chapter-generator/checkpoints/model-epoch-28_info.json
chapter-generator/checkpoints/model-epoch-28.keras
chapter-generator/checkpoints/model-epoch-29_info.json
chapter-generator/checkpoints/model-epoch-29.keras
chapter-generator/checkpoints/model-epoch-30_info.json
chapter-generator/checkpoints/model-epoch-30.keras
chapter-generator/checkpoints/model-epoch-31_info.json
chapter-generator/checkpoints/model-epoch-31.keras
chapter-generator/checkpoints/model-epoch-32_info.json
chapter-generator/checkpoints/model-epoch-32.keras
chapter-generator/checkpoints/model-epoch-33_info.json
chapter-generator/checkpoints/model-epoch-33.keras
chapter-generator/checkpoints/model-epoch-48_info.json
chapter-generator/checkpoints/model-epoch-48.keras
chapter-generator/checkpoints/model-epoch-49_info.json
chapter-generator/checkpoints/model-epoch-49.keras
chapter-generator/checkpoints/model-epoch-50_info.json
chapter-generator/checkpoints/model-epoch-50.keras
chapter-generator/checkpoints/model-epoch-51_info.json
chapter-generator/checkpoints/model-epoch-51.keras
chapter-generator/checkpoints/model-epoch-52_info.json
chapter-generator/checkpoints/model-epoch-52.keras
chapter-generator/checkpoints/model-epoch-53_info.json
chapter-generator/checkpoints/model-epoch-53.keras
chapter-generator/checkpoints/model-epoch-54_info.json
chapter-generator/checkpoints/model-epoch-54.keras
chapter-generator/checkpoints/model-epoch-55_info.json
chapter-generator/checkpoints/model-epoch-55.keras
chapter-generator/checkpoints/model-epoch-56_info.json
chapter-generator/checkpoints/model-epoch-56.keras
chapter-generator/checkpoints/model-epoch-57_info.json
chapter-generator/checkpoints/model-epoch-57.keras
chapter-generator/info/model-info-20250703_225908.json
chapter-generator/info/model-info-20250703_233323.json
chapter-generator/info/model-info-20250703_233527.json
chapter-generator/info/model-info-20250703_233619.json
chapter-generator/info/model-info-20250703_234731.json
chapter-generator/info/model-info-20250703_235436.json
chapter-generator/info/model-info-20250704_001321.json
chapter-generator/info/model-info-20250704_001733.json
chapter-generator/info/model-info-20250704_003808.json
chapter-generator/info/model-info-20250704_004307.json
chapter-generator/info/model-info-20250704_010201.json
chapter-generator/info/model-info-20250704_010714.json
chapter-generator/info/model-info-20250704_011528.json
chapter-generator/info/model-info-20250704_022235.json
chapter-generator/info/model-info-20250704_023527.json
chapter-generator/info/model-info-20250704_025826.json
chapter-generator/info/model-info-20250704_031902.json
chapter-generator/info/model-info-20250704_033404.json
chapter-generator/info/model-info-20250704_034022.json
chapter-generator/info/model-info-20250704_040112.json
chapter-generator/info/model-info-20250704_042250.json
chapter-generator/info/model-info-20250704_044328.json
chapter-generator/info/model-info-20250704_050204.json
chapter-generator/info/model-info-20250704_051954.json
chapter-generator/info/model-info-20250704_053658.json
chapter-generator/info/model-info-20250704_055029.json
chapter-generator/info/model-info-20250704_061235.json
chapter-generator/info/model-info-20250704_064642.json
chapter-generator/info/model-info-20250704_070758.json
chapter-generator/info/model-info-20250704_073929.json
chapter-generator/info/model-info-20250704_080939.json
chapter-generator/info/model-info-20250704_083224.json
chapter-generator/info/model-info-20250704_084904.json
chapter-generator/info/model-info-20250704_091004.json
chapter-generator/info/model-info-20250704_092734.json
chapter-generator/info/model-info-20250704_094618.json
chapter-generator/info/model-info-20250704_100018.json
chapter-generator/info/model-info-20250704_100935.json
chapter-generator/info/model-info-20250704_103733.json
chapter-generator/info/model-info-20250704_110434.json
chapter-generator/info/model-info-20250704_112249.json
chapter-generator/info/model-info-20250704_113659.json
chapter-generator/info/model-info-20250704_130251.json
chapter-generator/info/model-info-20250704_132946.json
chapter-generator/info/model-info-20250704_135537.json
chapter-generator/info/model-info-chapter_124-chapter_125.json
chapter-generator/models/sign_language_model_20250703_225523.keras
chapter-generator/models/sign_language_model_20250703_225908.keras
chapter-generator/models/sign_language_model_20250703_233323.keras
chapter-generator/models/sign_language_model_20250703_233527.keras
chapter-generator/models/sign_language_model_20250703_233619.keras
chapter-generator/models/sign_language_model_20250703_234731.keras
chapter-generator/models/sign_language_model_20250703_235436.keras
chapter-generator/models/sign_language_model_20250704_001321.keras
chapter-generator/models/sign_language_model_20250704_001733.keras
chapter-generator/models/sign_language_model_20250704_003808.keras
chapter-generator/models/sign_language_model_20250704_004307.keras
chapter-generator/models/sign_language_model_20250704_010201.keras
chapter-generator/models/sign_language_model_20250704_010714.keras
chapter-generator/models/sign_language_model_20250704_011528.keras
chapter-generator/models/sign_language_model_20250704_022235.keras
chapter-generator/models/sign_language_model_20250704_023527.keras
chapter-generator/models/sign_language_model_20250704_025826.keras
chapter-generator/models/sign_language_model_20250704_031902.keras
chapter-generator/models/sign_language_model_20250704_033404.keras
chapter-generator/models/sign_language_model_20250704_034022.keras
chapter-generator/models/sign_language_model_20250704_040112.keras
chapter-generator/models/sign_language_model_20250704_042250.keras
chapter-generator/models/sign_language_model_20250704_044328.keras
chapter-generator/models/sign_language_model_20250704_050204.keras
chapter-generator/models/sign_language_model_20250704_051954.keras
chapter-generator/models/sign_language_model_20250704_053658.keras
chapter-generator/models/sign_language_model_20250704_055029.keras
chapter-generator/models/sign_language_model_20250704_061235.keras
chapter-generator/models/sign_language_model_20250704_064642.keras
chapter-generator/models/sign_language_model_20250704_070758.keras
chapter-generator/models/sign_language_model_20250704_073929.keras
chapter-generator/models/sign_language_model_20250704_080939.keras
chapter-generator/models/sign_language_model_20250704_083224.keras
chapter-generator/models/sign_language_model_20250704_084904.keras
chapter-generator/models/sign_language_model_20250704_091004.keras
chapter-generator/models/sign_language_model_20250704_092734.keras
chapter-generator/models/sign_language_model_20250704_094618.keras
chapter-generator/models/sign_language_model_20250704_100018.keras
chapter-generator/models/sign_language_model_20250704_100935.keras
chapter-generator/models/sign_language_model_20250704_103733.keras
chapter-generator/models/sign_language_model_20250704_110434.keras
chapter-generator/models/sign_language_model_20250704_112249.keras
chapter-generator/models/sign_language_model_20250704_113659.keras
chapter-generator/models/sign_language_model_20250704_130251.keras
chapter-generator/models/sign_language_model_20250704_132946.keras
chapter-generator/models/sign_language_model_20250704_135537.keras
chapter-generator/models/sign_language_model_chapter_124_20250703.keras
chapter-generator/models/sign_language_model_chapter_124_chapter.keras
